services:
#   loadbalancer:
#     container_name: algo-trader-loadbalancer
#     image: nginx:1.27.5-alpine-slim
#     expose:
#       - "80"
#     ports:
#       - "80:80"
#     volumes:
#       - ./nginx.conf:/etc/nginx/nginx.conf:ro
#     depends_on:
#       - dashboard
#       - trader-core
#     networks:
#       - app-network

#   dashboard:
#     container_name: dashboard
#     build:
#       context: ./dashboard
#       dockerfile: Dockerfile.prod
#     networks:
#       - app-network
#     env_file:
#       - .env.prod
#     depends_on:
#       - trader-core

  trader-core:
    container_name: trader-core
    build:
      context: ./trader-core
      dockerfile: Dockerfile.prod
    # depends_on:
    #   - redis
    networks:
      - app-network
    env_file:
      - .env.prod

  # redis:
  #   image: redis:8.6-alpine
  #   container_name: redis
  #   ports:
  #     - "6379:6379"
  #   networks:
  #     - app-network
  #   volumes:
  #     - redis-data:/data
  #   restart: unless-stopped

networks:
  app-network:
    # external: true

# volumes:
#   redis-data:
