services:
  dashboard:
    container_name: dashboard
    build:
      context: ./dashboard
      dockerfile: Dockerfile.local
    ports:
      - "5173:5173"
    networks:
      - app-network
    env_file:
      - .env.local
    depends_on:
      - trader-core

  trader-core:
    container_name: trader-core-local
    build:
      context: ./trader-core
      dockerfile: Dockerfile.local
    expose:
      - "8080"
    ports:
      - "8080:8080"
    depends_on:
      - redis
    networks:
      - app-network
    env_file:
      - .env.local

  redis:
    image: redis:8.6-alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - app-network
    volumes:
      - redis-data:/data
    restart: unless-stopped

networks:
  app-network:
    # external: true

volumes:
  redis-data:
